@font-face {
    font-family: 'NEXA BOLD';
    src: url('../fonts/nexa_bold.eot');
    src: url('../fonts/nexa_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_bold.woff2') format('woff2'),
         url('../fonts/nexa_bold.woff') format('woff'),
         url('../fonts/nexa_bold.ttf') format('truetype'),
         url('../fonts/nexa_bold.svg#nexa_boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NEXA REGULAR';
    src: url('../fonts/nexa_regular.eot');
    src: url('../fonts/nexa_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_regular.woff2') format('woff2'),
         url('../fonts/nexa_regular.woff') format('woff'),
         url('../fonts/nexa_regular.ttf') format('truetype'),
         url('../fonts/nexa_regular.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}